# --------------------
# Node / Next.js
# --------------------
node_modules/
.next/
out/
.env.local
.env

# --------------------
# Python / Flask
# --------------------
__pycache__/
*.pyc
.env
venv/

# --------------------
# Uploads (keep empty folder if needed)
# --------------------
uploads/products/*
!uploads/products/.gitkeep

# --------------------
# OS / Editor
# --------------------
.DS_Store
.vscode/
.idea/
